{% include 'admin_header.html' %}
<center><br><br>
	<form method="post">
		<h2>ADD COMPANIES</h2><br>
		<table>
			<tr>
				<th>Company Name</th>
				<td><input type="text" class="form-control" required name="cname"></td>
			</tr>
			<tr>
				<th>Mode Of Work</th>
				<td><input type="text" class="form-control" required name="work"></td>
			</tr>
			<tr>
				<th>Description</th>
				<td><input type="text" class="form-control" required name="desc"></td>
			</tr>
			<tr>
				<th>Phone</th>
				<td><input type="text" class="form-control" pattern="[0-9]{10}" required name="phone"></td>
			</tr>
			<tr>
				<th>Email</th>
				<td><input type="email" class="form-control" required name="email"></td>
			</tr>
			<tr>
				<th>Website</th>
				<td><input type="text" class="form-control" required name="web"></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input class="btn btn-success" type="submit" name="submit" value="ADD"></td>
			</tr>
		</table>
		<br>

{% if data['view'] %}
<br>
		<h2>COMPANIES</h2>
		<table class="table">
			<tr><th></th>
				<th></th>
				<th>Sl.no</th>
				<th>Company Name</th>
				<th>Mode Of Work</th>
				<th>Description</th>
				<th>Phone</th>
				<th>Email</th>
				<th>Website</th>
				<th></th><th></th>
			</tr>
			{% for i in data['view'] %}
			<tr><th></th><th></th>
				<td>{{loop.index}}</td>
				<td>{{i['company_name']}}</td>
				<td>{{i['mode_of_work']}}</td>
				<td>{{i['description']}}</td>
				<td>{{i['phone']}}</td>
				<td>{{i['email']}}</td>
				<td>{{i['website']}}</td>
				<td><a class="btn btn-danger" href="?remove_id={{i['login_id']}}">Remove</a></td><td></td>
			</tr>
			{% endfor %}
		</table>

{% endif %}

	</form>
</center>
{% include 'footer.html' %}