{% include 'company_header.html' %}
     <section class="hero hero-bg d-flex justify-content-center align-items-center">
               <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                              <div class="hero-text">

                                   <h1 class="text-white" data-aos="fade-up">Best in BPO Management</h1>
<!-- 
                                   <a href="/login" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Login Now!!!</a> -->
                              </div>
                        </div>

                        <div class="col-lg-6 col-12">
                          <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                            <img src="/static/images/working-girl.png" class="img-fluid" alt="working girl">
                          </div>
                        </div>

                    </div>
               </div>
     </section>


     <!-- ABOUT -->
     <section class="about section-padding pb-0" id="about">
          <div class="container">
               <div class="row">

                    <div class="col-lg-7 mx-auto col-md-10 col-12">
                         <div class="about-info">

                              <h2 class="mb-4" data-aos="fade-up"><strong>Company</strong> Portion</h2>

                              <p class="mb-0" data-aos="fade-up">
Business process outsourcing (BPO) is the practice of contracting a specific work process or processes to an external service provider. The services can include payroll, accounting, telemarketing, data recording, social media marketing, customer support, and more..
                              <br><br>You are <strong>allowed</strong> to use this Site for commercial or non-commercial purpose. You are NOT allowed to redistribute.</p>
                         </div>

                         <div class="about-image" data-aos="fade-up" data-aos-delay="200">

                          <img src="/static/images/office.png" class="img-fluid" alt="office">
                        </div>
                    </div>

               </div>
          </div>
     </section>


{% include 'footer.html' %}