{% include 'home_header.html' %}
<section class="testimonial section-padding">
          <div class="container">
               <div class="row">

                    <div class="col-lg-6 col-md-5 col-12">
                        <div class="contact-image" data-aos="fade-up">

                          <img src="static/images/female-avatar.png" class="img-fluid" alt="website">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-7 col-12">
                      <h4 class="my-5 pt-3" data-aos="fade-up" data-aos-delay="100">Login Now</h4>

                      <form method="post">
	<table>
		<tr>
			<td class="mb-0" data-aos="fade-up">Username </td>
			<td><input type="text" class="form-control" required class="mb-0" data-aos="fade-up" name="uname"></td>
		</tr>
		<tr><td><br></td></tr>
		<tr>
			<td>Password </td>
			<td><input type="password" required class="form-control" name="passs"></td>
		</tr><tr><td><br></td></tr>
		<tr>
			<td colspan="2" align="center"><input class="btn btn-info" type="submit" name="submit" value="Login"></td>
		</tr>
	</table>
	</form>
                    </div>

               </div>
          </div>
     </section>

{% include 'footer.html' %}